body {
    background-color: rgb(255, 255, 255);
    color: rgb(49, 44, 82);
    
        
}

/* body:background-image {
    max-width: 100%;
    height: auto;
    url("seraBanner2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
} */

.flex-container {
    display: flex;
}

.flex-item {

}

#topNavBarWrapper {
    /* background-color: rgb(140, 126, 190); */
    height: 50px;
    margin:0;
    padding:0;
    padding-right:50px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #FDFDFB;
        
    
}

/* #navBarButtonsContainer {
    display: flex;
    justify-content: end;
    align-items: stretch;
} */

.navBarFlexButton {
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid rgb(97, 83, 146);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;

}

.navBarFlexButton:hover {
    background-color: rgba(108, 119, 238, 0.5);
    /* -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
    -webkit-transition: transform .4s ease-in-out;
    -moz-transition:transform .4s ease-in-out;
    -ms-transition:transform .4s ease-in-out; */
}

#helloBlurb {
    position: absolute;
    
}

#bannerContainer {
    position: relative;
    
}

#bannerContainer img {
    max-width: 100%;
    height: auto;
}

#helloBlurb {
    position: absolute;
    top: 30%;
    left:70%;
    color: white;
}

#belowBannerWrapper {
    
    justify-content: end;
    align-items: flex-end;
    
}

#belowBannerWrapper img {
    max-width:25%;
    height:auto;
    
}

