/* quick reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.reflector_img__wrap {
    position: relative;
    height: 200px;
    width: 240px;
  }
  
.reflector_img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  
.reflector_img__wrap:hover .reflector_img__description {
    visibility: visible;
    opacity: 1;
  }