body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(bg02.jpg);
  background-position: center;
  background-size: cover;
  display: flex !important;
  justify-content: center;
  /* align-items: center; */
  color: rgb(134, 255, 179);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#addGameContainer {
    width: 30%;
}

@media (max-width: 1300px) {
    #addGameContainer {
        width: 80%;
    }
}



.form-control {
    width: 85%;
    height: 27px;
    font-size: 1.1em;
}

/* ******************************
********TABLE STYLING BELOW******
********************************* */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px auto;
}
.tg td {
  border-color: rgb(143, 252, 133);
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: rgb(118, 255, 148);
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  background-color: rgb(86, 153, 80);
}

.tg tr:hover {
    background-color: rgba(118, 255, 148, 0.719);
}


/* ::ng-deep .mat-sort-header-arrow {
    color: #fff !important;
}

.mat-sort-header-arrow {
    color: #fff !important;
    opacity: 1 !important;
    } */

.tg .tg-5g05 {
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  text-align: left;
  top: -1px;
  vertical-align: bottom;
  will-change: transform;
}
.tg .tg-7zrl {
  text-align: left;
  vertical-align: bottom;
}
.tg-sort-header::-moz-selection {
  background: 0 0;
}
.tg-sort-header::selection {
  background: 0 0;
}
.tg-sort-header {
  cursor: pointer;
}
.tg-sort-header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
}
.tg-sort-header:hover:after {
  visibility: visible;
}
.tg-sort-asc:after,
.tg-sort-asc:hover:after,
.tg-sort-desc:after {
  visibility: visible;
  opacity: 0.4;
}
.tg-sort-desc:after {
  border-bottom: none;
  border-width: 5px 5px 0;
}
@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }
  .tg col {
    width: auto !important;
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto 0px;
  }
}

/* ******************************
********TABLE STYLING ABOVE******
********************************* */

.logout-container {
    margin-top: 10%;
}

#logoutButton {
    margin-top: 1%;
}



.btn-primary {
    background-color: rgb(86, 153, 80); !important;
    color: white !important;
    border-color:rgb(118, 255, 148);
}

.btn-primary:hover {
    border-color:rgb(118, 255, 148);
    box-shadow: rgb(86, 153, 80);
    background-color: rgb(152, 255, 174);
    color: black !important
}

#addGameBtn {
    border-radius: 7px;
    padding: 5px;
    width: 25%;
    min-width: 120px;
    height: 50px;
    font-size: 1.3em;
    margin-bottom: 4%;

}

#backToLibraryBtn {
    border-radius: 4px;
    padding: 5px;
    width: 30%;
    min-width: 150px;
    height: 40px;
    font-size: 1.1em;

}

