html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(47, 55, 81);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

#dadJokesDisplayerContainer {
  border: 1px solid rgb(99, 132, 210);
  width: 20rem;
  height: fit-content;
  color: rgb(222, 167, 56);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  background-color: rgb(64, 93, 159);
  box-shadow: 5px 5px 20px 2px rgb(59, 89, 157);
}

button {
  margin: 1rem;
  background-color: rgb(44, 95, 167);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
}
