@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Press+Start+2P&family=Roboto+Mono:wght@100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.comfortaa {
  font-family: "Comfortaa", sans-serif;
}

.card {
  @apply border-[1px] border-cyan-300 shadow-md shadow-black p-3 rounded bg-black bg-opacity-20 mt-96;
}

.seranetBG {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.blink {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-animation: blink normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation: blink normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation: blink normal 1.5s infinite ease-in-out;
  /* IE */
  animation: blink normal 1.5s infinite ease-in-out;
  /* Opera */
}

@keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: rgba(96, 96, 96, 0);
  }
  100% {
    color: #f2f2f2;
  }
}
@-webkit-keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: rgba(96, 96, 96, 0);
  }
  100% {
    color: #f2f2f2;
  }
}
.hidden2 {
  display: none;
}

.min-h-100vh {
  min-height: 100vh;
}

.min-h-05 {
  min-height: 50%;
}

/* -----------NEW ANIMATION SHIT BELOW------------ */
.container {
  display: grid;
  grid-template-columns: 1fr; /* removed 1fr from this to make single column*/
  grid-gap: 0 10%;
  justify-items: center;
  /* This will align all items (images) to the right */
  /* // Fixed positioned, so it won't be affected by default scroll
      // It will be moved using `transform`, to achieve a custom scroll behavior */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* // Styles for image elements
  // Mainly positioning and background styles */
.image {
  position: relative;
  width: 400px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  /* align-items: center; */
  /* // This will align all even images to the left
    // For getting centered positioned images, respect to the viewport */
}
.image:nth-child(2n) {
  justify-self: center;
}
.image:nth-child(1) {
  /* background-image: url("/public/assets/img/portraits/image1.jpg"); */
}
.image:nth-child(2) {
  /* background-image: url("/public/assets/img/portraits/image2.jpg"); */
}
.image:nth-child(3) {
  background-image: url("/public/assets/img/portraits/image3.jpg");
}
.image:nth-child(4) {
  background-image: url("/public/assets/img/portraits/image4.jpg");
}
.image:nth-child(5) {
  background-image: url("/public/assets/img/portraits/image5.jpg");
}
.image:nth-child(6) {
  background-image: url("/public/assets/img/portraits/image6.jpg");
}
.image:nth-child(7) {
  background-image: url("/public/assets/img/portraits/image7.jpg");
}
.image:nth-child(8) {
  background-image: url("/public/assets/img/portraits/image8.jpg");
}
.image:nth-child(9) {
  background-image: url("/public/assets/img/portraits/image9.jpg");
}
.image:nth-child(10) {
  background-image: url("/public/assets/img/portraits/image10.jpg");
}

/* // Adjusting layout for small screens */
@media screen and (max-width: 760px) {
  .container {
    /* // 1 column grid */
    grid-template-columns: 1fr;
    /* // Fix image centering */
    justify-items: center;
  }

  /* // Fix image centering */
  .image:nth-child(2n) {
    justify-self: center;
  }
}
/* // The styles for a `div` element (inserted with JavaScript)
  // Used to make the page scrollable
  // Will be setted a proper `height` value using JavaScript */
.fake-scroll {
  position: absolute;
  top: 0;
  width: 1px;
}
