* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: blue;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: rgb(127, 39, 228);
  color: white;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(155, 84, 236);
}
